.navbar-default {
    border: center;
}

.navbar-header {
    margin-top: 15px;
}

.container-fluid>.navbar-collapse,
.container-fluid>.navbar-header,
.container>.navbar-collapse,
.container>.navbar-header {
    margin-right: -15px;
    margin-left: -15px;
}

.navbar-brand-logo>img {
    display: block;
    float: left;
    height: auto;
    margin-right: 10px;
}

.navbar-brand {
    /*    margin-left: 10px;*/
    margin-top: 15px;
    float: left;
    /* height: auto;
    */
    font-size: 20px;
    font-family: fantasy;
    /*    line-height: 42px;*/
}

#myNavbar a {
    font-family: cursive;
    font-size: 20px
}

header {
    background-repeat: no-repeat;
    background-position: middle center;
    background-attachment: fixed;
    width: 100%;
    background: #101010 url('../images/suit.jpg') 50% 50% no-repeat;
    height: 600px;
}

body {
    font-family: "Lato", sans-serif;
    margin-top: 70px;
}

#services {
    background: #fffffa;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    padding-top: 50px;
    float: right;
}

.sidenav .list-unstyled {
    margin-top: 20px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 28px;
    color: #818181;
    display: block;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    font-family: cursive;
}

.sidenav a:hover,
.offcanvas a:focus {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 40px;
    margin-left: 50px;
    font-family: none;
}

.navbar-inverse .navbar-nav {
    color: #9d9d9d;
    margin-right: 20px;
    margin-top: 15px
}

.navbar-left {
    width: 7em;
}

#main {
    -webkit-transition: margin-right .1s;
    transition: margin-right .1s;
    padding: 2px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}
