/* Special Cases*/

.newParagraph {
    margin-right: 50px;
}


/*----------Header---------------*/


/*used for javaScript to
Hide NavBar up in scrolling up*/

.nav-up {
    top: -70px;
}

.navbar-header {
    /*    margin-top:;*/
}

.navbar-left {
    /*    width: 7em;*/
}

.navbar-brand-logo>img {
    /*    display: block;*/
    float: left;
    /*    height: auto;*/
    margin-right: .2em;
    padding-top: 15px;
    width: 50px;
}

.navbar-brand {
    color: #702632;
    float: left;
    padding-left: 1em;
    padding-top: 1.8em;
}

.navbar-brand span {
    color: #fffffa;
    font: normal 1px 'Cookie', cursive;
    font-size: 25px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 100;
}

.navbar-brand span:hover {
    transition-duration: .5s;
    /* delays for 1 second */
    -webkit-transition-duration: .5s;
    /* for Safari & Chrome */
    color: #fffffa;
    font: normal 1px 'Cookie', cursive;
    font-size: 26px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 200;
}

#myNavbar a {
    color: #fffffa;
    font-size: 15px;
    font-family: 'Fira Sans', sans-serif;
    margin-top: 11px;
    font-weight: 200;
}

#myNavbar a:hover {
    transition-duration: .5s;
    /* delays for 1 second */
    -webkit-transition-duration: .5s;
    /* for Safari & Chrome */
    color: #fffffa;
    background: transparent;
    border: 2px solid;
    border-color: aliceblue;
    border-radius: 1px;
    font-size: 15px;
    margin-top: 15px;
    padding: 9px;
}

a#envelopeL {
    color: #fffffa;
    font-size: 40px;
    font-family: 'Fira Sans', sans-serif;
    margin-top: 1px;
    font-weight: 200;
}

a#envelopeL:hover {
    transition-duration: .5s;
    /* delays for 1 second */
    -webkit-transition-duration: .5s;
    /* for Safari & Chrome */
    color: #fffffa;
    font-size: 40px;
    font-family: 'Fira Sans', sans-serif;
    margin-top: 1px;
    font-weight: 200;
}

#blogIcon {
    font-size: 15px;
}

#blogIcon:hover {
    font-size: 20px;
    text-decoration: none;
}

.sidebar-nav :active,
.sidebar-nav :focus {
    text-decoration: none
}

.navbar-fixed-bottom,
.navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    background-color: rgba(0, 0, 0, .5);
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, .3));
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, .3));
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, .3));
    /* For Firefox 3.6 to 15 */
    /*    background: linear-gradient(red, yellow);*/
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, .3));
    /* Standard syntax (must be last) */
    border: none;
    height: 70px;
    position: fixed;
    transition: top 0.1s ease-in-out;
    width: 100%;
}


/*Collapsed menu Button*/

button span {
    background-color: #fffffa;
    margin-top: 10px;
}

button:hover {
    cursor: pointer;
}


/*button that opens the side navgation menu with X animation*/

#nav-icon2 {
    /*    border: 10px solid transparent;*/
    display: block;
}

#nav-icon2 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 80%;
    background: #fffffa;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    margin: 30px;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 10px;
}

#nav-icon2 span:nth-child(even) {
    left: 50%;
    border-radius: 0px 0px 0px 0px;
}

#nav-icon2 span:nth-child(odd) {
    left: 0px;
    border-radius: 0px 0px 0 0px;
}

#nav-icon2 span:nth-child(1),
#nav-icon2 span:nth-child(2) {
    top: 0px;
}

#nav-icon2 span:nth-child(3),
#nav-icon2 span:nth-child(4) {
    top: 9px;
}

#nav-icon2 span:nth-child(5),
#nav-icon2 span:nth-child(6) {
    top: 18px;
}


/*transparent child to increase the clickable surface area*/

#nav-icon2 span:nth-child(7) {
    padding-left: 10px;
    padding-right: 70px;
    padding-bottom: 30px;
    padding-top: 35px;
    top: -20px;
    left: -20px;
    opacity: 0;
}

#nav-icon2.open span:nth-child(1),
#nav-icon2.open span:nth-child(6) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#nav-icon2.open span:nth-child(2),
#nav-icon2.open span:nth-child(5) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#nav-icon2.open span:nth-child(1) {
    left: 3px;
    top: 20px;
    width: 2px;
    height: 1px;
    opacity: 0;
}

#nav-icon2.open span:nth-child(2) {
    left: calc(50% + 6px);
    top: 3.1px;
    width: 12px;
    opacity: 0;
}

#nav-icon2.open span:nth-child(3) {
    left: -50%;
    opacity: 0;
    width: 20px;
    height: 10px;
    top: 0px;
    padding-top: 0px;
}

#nav-icon2.open span:nth-child(4) {
    left: 100%;
    opacity: 0;
}

#nav-icon2.open span:nth-child(5) {
    left: -5px;
    top: 15px;
    width: 35px;
    height: 2px;
}

#nav-icon2.open span:nth-child(6) {
    left: calc(50% - 16px);
    top: 16px;
    width: 36px;
    height: 2px;
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 0px;
    margin-right: 30px;
    margin-bottom: 3px;
    background-color: transparent;
    background-image: none;
    border: 15px solid transparent;
    border-radius: 10px, 10px;
}


/*END of Collaped = to X navigation button that opens the side bar */

header {
    width: 100%;
    height: 400px;
    background: #101010;
    /*    overflow-x: hidden;*/
    position: relative;
    Background-color: rgb(16, 16, 16);
    background-size: 100%, auto;
    background-position: top;
    /*    margin-top: 5%;*/
    /*    margin-bottom: 10%;*/
    /*    background-image: url(../images/ROBOTImages/RightView.JPG);*/
    background-repeat: no-repeat;
}

#headerText {
    object-position: center;
    margin-top: 10em;
    margin-left: 15%;
    margin-right: 15%;
    /*    background-color: rgba(0, 0, 0, .8);*/
    /* For browsers that do not support gradients */
    /*    background: -webkit-linear-gradient(rgba(0, 0, 0, .9), rgba(0, 0, 0, 0));*/
    /* For Safari 5.1 to 6.0 */
    /*    background: -o-linear-gradient(rgba(0, 0, 0, .9), rgba(0, 0, 0, 0));*/
    /* For Opera 11.1 to 12.0 */
    /*    background: -moz-linear-gradient(rgba(0, 0, 0, .9), rgba(0, 0, 0, 0));*/
    /* For Firefox 3.6 to 15 */
    /*    background: linear-gradient(red, yellow);*/
    /*    background: linear-gradient(rgba(0, 0, 0, .9), rgba(0, 0, 0, 0));*/
    /* Standard syntax (must be last) */
    border: none;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 100;
    padding-bottom: 10px;
    font-style: normal;
    border-radius: 20px 20px 30px 30px;
}

#headerText h2 {
    color: aliceblue;
    font-size: 45px;
    font-style: normal;
}

#headerText p {
    color: aliceblue;
    font-size: 45px;
}


/*
.middleButton1,
.middleButton2 {
    background-color: rgba(0, 0, 0, .4);
    color: #fffffa;
    border: 4px solid #fffffa;
    border-radius: 50px 50px 50px 50px;
    margin: 1em;
    margin-top: 0em;
    font-size: 3em;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 100;
    padding: 9px;
    text-decoration: none;
    font-weight: bold;
}
*/


/*
.middleButton1:visited,
.middleButton2:visited,
{
    background: none;
    background-color: none;
    color: #fffffa;
    border: 2px solid #fffffa;
    margin: 1em;
    margin-top: 0em;
    font-size: 3em;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 100;
    padding: 3px;
    text-decoration: none;
}
*/


/*
.middleButton1:hover {
    transition-duration: .5s;

    -webkit-transition-duration: .5s;

    background-color: #fffffa;
    color: #40434e;
    border: 3px solid #fffffa;
    cursor: pointer;
    text-decoration: none;
}
*/


/*
.middleButton2:hover {
    transition-duration: .5s;

    -webkit-transition-duration: .5s;

    color: #fffffa;
    border: 5px solid #fffffa;
    cursor: pointer;
    text-decoration: none;
}
*/

.documentNav {
    /*    display: inline-block;*/
    /*    content: center;*/
    /*    width: 100%;*/
    /*    margin: 10px;*/
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.documentNav ul {
    list-style-type: none;
    /*    text-align: center;*/
    /*    margin-left: 5%;*/
    /*    margin-right: 5%;*/
}

.documentNav li {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    /*    font-size: 18px;*/
    /*    border-style: solid;*/
    /*    border-width: 1px;*/
    /*    text-align: center;*/
}

.documentNav li a {
    /*    display: inline-block;*/
    text-decoration: none;
    color: #fffffa;
    font-size: 30px;
    padding: 5px;
    /*    text-align: center;*/
}

.documentNav li a:hover {
    transition-duration: .5s;
    /* delays for 1 second */
    -webkit-transition-duration: .5s;
    /* for Safari & Chrome */
    background-color: #fffffa;
    color: #40434e;
    border: 3px solid #fffffa;
    cursor: pointer;
    text-decoration: none;
}


/*---------------BODY-------------------------------------------------------------------------*/

body {
    background-color: #111;
    /*       font-size: 15px;*/
    font-family: 'Fira Sans', sans-serif;
    font-weight: 200;
}

.MainContentBottomPage {
    margin-left: 25%;
    margin-right: 25%;
    /*    max-width: 1200px;*/
    /*    display: inline-block;*/
    /*    text-align: center;*/
}

.MainContentBottomPage img {
    margin-left: 10%;
    margin-right: 10%;
    max-width: 600px;
    /*    max-width: 1200px;*/
    /*    display: inline-block;*/
    /*    text-align: center;*/
}

.MainContentAboutTop {
    margin-left: 20%;
    margin-right: 20%;
    max-width: 1200px;
    /*    display: inline-block;*/
    text-align: center;
}

.MainContentAboutMiddle {
    margin-left: 10%;
    margin-right: 10%;
    /*    max-width: 1200px;*/
    /*    display: inline-block;*/
}

.MainContentAboutBottom {
    margin-left: 10%;
    margin-right: 10%;
    /*    max-width: 1200px;*/
    /*    display: inline-block;*/
    /*    text-align: center;*/
}

.MainContentDataFormat {
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 5%;
    /*    max-width: 1200px;*/
    /*    display: block;*/
    /*    width: 100%;*/
    /*    text-align: center;*/
}

.MainContentImplementation {
    margin-left: 10%;
    margin-right: 10%;
    /*    max-width: 2000px;*/
    /*    display: inline-block;*/
}

.MainContentProjects {
    /*    max-width: 1200px;*/
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
    /*    text-align: center;*/
}

.MainContentResults {
    /*    max-width: 2000px;*/
    /*    display: inline-block;*/
    margin-left: 10%;
    margin-right: 10%;
    /*    display: inline-block;*/
    /*    text-align: center;*/
}

.MainContentFooter {
    max-width: 1500px;
    /*    display: inline-block;*/
    margin-left: 10%;
    margin-right: 10%;
    /*    display: inline-block;*/
}


/*my pallete*/

{
    color: #40434e;
    color: #702632;
    color: #912f40;
    color: #fffffa;
    color: #912f40;
}


/*about top*/

#aboutTop {
    background-color: #fffffa;
    color: #080705;
    font-size: 15px;
    font-style: normal;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 200;
}

#aboutTop p {
    background-color: #fffffa;
    color: #080705;
    font-size: 18px;
    font-style: normal;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 200;
    text-align: left;
    /*    margin-left: %;
    /*    margin-right: 5%;*/
}

#award {
    background-color: #fffffa;
    color: #080705;
    font-size: 15px;
    font-style: normal;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 200;
}

#award p {
    background-color: #fffffa;
    color: #080705;
    font-size: 18px;
    font-style: normal;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 200;
    text-align: left;
    /*    margin-left: %;
    /*    margin-right: 5%;*/
}

#sponsor {
    background-color: #fffffa;
    color: #080705;
    font-size: 15px;
    font-style: normal;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 200;
    margin-bottom: 30px;
}


/*about middle*/

#habs {
    display: inline-block;
    max-width: 500px;
}

#rams {
    display: inline-block;
    max-width: auto;
    max-height: auto;
}

#display {
    display: inline-block;
    max-width: 500px;
    max-height: 600px;
}

#stern {
    display: inline-block;
    max-width: 300px;
    content: center;
    /*    float: right;*/
}

#nasa {
    display: inline-block;
    max-width: 275px;
    content: center;
    margin-bottom: 10%;
    /*    float: right;*/
}

#aboutMiddle {
    background-color: #fffffa;
    color: #080705;
    font-size: 18px;
    font-style: normal;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 200;
}

#aboutMiddle p {
    background-color: #fffffa;
    color: #080705;
    font-size: 18px;
    font-style: normal;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 200;
    text-align: left;
    line-height: 30px;
    /*    margin-left: %;
    /*    margin-right: 5%;*/
}


/*about bottom*/

#aboutBottom {
    background-color: #fffffa;
    color: #080705;
    font-size: 18px;
    font-style: normal;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 200;
}

#aboutBottom p {
    background-color: #fffffa;
    color: #080705;
    font-size: 18px;
    font-style: normal;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 200;
    text-align: left;
    line-height: 30px;
    /*    margin-left: %;
    /*    margin-right: 5%;*/
}

#aboutBottom span {
    font-size: 18px;
}

#aboutBottomPage {
    background-color: #fffffa;
    color: #080705;
    font-size: 12px;
    font-style: normal;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 200;
}

#aboutBottomPage h2 {
    background-color: #fffffa;
    color: #080705;
    font-size: 14px;
    font-style: normal;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 200;
}

#aboutBottomPage p {
    background-color: #fffffa;
    color: #080705;
    font-size: 12px;
    font-style: normal;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 200;
    /*    text-align: left;*/
    /*    margin-left: %;
    /*    margin-right: 5%;*/
}

#aboutBottomPage span {
    font-size: 12px;
}


/*this one is used for smaller screens sizes*/

#aboutImage {
    display: inline-block;
    position: center;
    width: 90%;
    height: auto;
    max-width: 900px;
}

#poster {
    background-color: #40434e;
    color: #fffffa;
    /*    font-size: 18px;*/
    font-family: 'Fira Sans', sans-serif;
    font-weight: 200;
}

#poster p {
    background-color: #40434e;
    color: #fffffa;
    font-size: 18px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 200;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

#poster img {
    width: 100%;
}

#technology {
    background-color: #fffffa;
    color: #fffffa;
    font-size: 18px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 200;
    text-align: center;
}

#technology p {
    color: #40434e;
    font-size: 18px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 200;
    /*    text-align: center;*/
}

#technology h2 {
    color: #40434e;
    font-size: 30px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 200;
    text-align: center;
}

#technology h3 {
    margin-top: 0;
    color: #40434e;
    font-size: 20px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 200;
    text-align: center;
}

#technology img {
    width: 100%;
    max-width: 600px;
}


/*helps make sure there is no gap on the right of the screen, by aligning the logos better*/

#team {
    background-color: #111;
    color: #fffffa;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 200;
}

#team img {
    background-color: #111;
    color: #fffffa;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 200;
    /*    width: 100%;*/
    max-width: 300px;
    /*this makes images a circle*/
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
}

#horan img {
    /*    background-color: #111;*/
    color: #fffffa;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 200;
    /*    width: 100%;*/
    max-width: 300px;
    /*this makes images a circle*/
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
}

h5 {
    background-color: #111;
    color: #fffffa;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 200;
    text-align: left;
}


/* Force scrollbars onto browser window */

body {
    /*    margin-bottom: 200%;*/
}


/*-----------------------SCROLLBOX-----------------------*/


/* Box styles */

.myBox {
    border: none;
    padding: 2px;
    font: 24px/36px sans-serif;
    width: 100%;
    height: 200px;
    overflow: scroll;
    /*    background-color: grey;*/
}

.myTinyBox {
    border: none;
    padding: 2px;
    font: 24px/36px sans-serif;
    width: 100%;
    height: 50px;
    overflow: scroll;
    /*    background-color: blue;*/
}

.myMedBox {
    border: none;
    padding: 2px;
    font: 24px/36px sans-serif;
    width: 100%;
    height: 250px;
    overflow: scroll;
    /*    background-color: blue;*/
}

.myBigBox {
    border: none;
    padding: 2px;
    font: 24px/36px sans-serif;
    width: 100%;
    height: 400px;
    overflow: scroll;
    /*    background-color: blue;*/
}


/* Scrollbar styles */

::-webkit-scrollbar {
    width: 0px;
    height: 5px;
}

::-webkit-scrollbar-track {
    border: 1px solid rgb(56, 56, 56);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(56, 56, 56);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #88ba1c;
}


/*-------------------------END OF SCROLL BOX------------------*/


/*---------------------------PROJECTS--------------------------------*/

.jm-item {
    padding: 10px;
    display: inline-block;
    text-align: center;
}

.jm-item-wrapper {
    position: relative;
    padding: 7px;
    background: #40434e;
}

.jm-item-image {
    position: relative;
    overflow: hidden;
}

.jm-item-image img {
    display: block;
    width: 100%
}

.jm-item-image img:hover {
    display: block;
    width: 100%;
}

.jm-item-title {
    position: absolute;
    left: -10px;
    bottom: 17px;
    background: #40434e;
    line-height: 1.5em;
    font-weight: normal;
    padding: 7px 9px 6px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    color: #FFFFFF;
    font-size: 1.4em;
}

.jm-item-overlay {
    background: #000;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-transition: opacity 0.5s ease-in 0s;
    -moz-transition: opacity 0.5s ease-in 0s;
    -o-transition: opacity 0.5s ease-in 0s;
    transition: opacity 0.5s ease-in 0s;
}

.jm-item-wrapper:hover .jm-item-overlay {
    opacity: 0.3;
}

.jm-item-button {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    font: center;
    content: center;
    text-align: center;
    align-content: center;
    padding-top: 5em;
}

.jm-item-button a {
    background-color: rgba(0, 0, 0, .4);
    color: #fffffa;
    border: 2px solid #fffffa;
    /*    border-radius: 50px 50px 50px 50px;*/
    margin: 2em;
    font-size: 1.4em;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 100;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 20px;
}

.jm-item-button a:hover {
    transition-duration: .5s;
    /* delays for 1 second */
    -webkit-transition-duration: .5s;
    /* for Safari & Chrome */
    background-color: rgba(255, 255, 255, .9);
    color: black;
    border: 2px solid #fffffa;
    /*    border-radius: 50px 50px 50px 50px;*/
    margin: 2em;
    font-size: 1.4em;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 100;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 20px;
    /*    background: #3b3b3b;*/
}

.second .jm-item-wrapper .jm-item-title {
    -webkit-transition: all 0.2s ease-in 0s;
    -moz-transition: all 0.2s ease-in 0s;
    -o-transition: all 0.2s ease-in 0s;
    transition: all 0.2s ease-in 0s;
}

.second .jm-item-wrapper:hover .jm-item-title {
    display: none;
    left: -10%;
}

.second .jm-item-description {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background: rgba(0, 0, 0, .8);
    color: #fff;
    top: 100%;
    -webkit-transition: all 0.3s ease-in 0s;
    -moz-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
}

.second .jm-item-wrapper:hover .jm-item-description {
    top: 0;
}

#projects {
    /*position: relative;*/
    background-color: #fffffa;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 200;
    /*margin: 5%;*/
}


/*---------------------------END Projects-----------------------------------------*/


/*Side Navigation*/

.sidenav {
    margin-top: 0%;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, .9), rgba(0, 0, 0, .3));
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(0, 0, 0, .9), rgba(0, 0, 0, .3));
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(0, 0, 0, .9), rgba(0, 0, 0, .3));
    /* For Firefox 3.6 to 15 */
    /*    background: linear-gradient(red, yellow);*/
    background: linear-gradient(to right, rgba(0, 0, 0, .9), rgba(0, 0, 0, .3));
    /* Standard syntax (must be last) */
    border: none;
    overflow-x: hidden;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    padding-top: 10px;
    border-radius: 0px 50px 50px 0px;
}

.sidenav .list-unstyled {
    float: right;
    line-height: 30px;
}

.sidenav a {
    padding: 8px 8px 8px 60px;
    text-decoration: none;
    font-size: 20px;
    color: #fffffa;
    display: block;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-weight: 100;
    line-height: inherit;
    float: right;
}

.sidenav a:hover,
.offcanvas a:focus {
    color: #f1f1f1;
    cursor: pointer;
}


/*This can be added*/


/*
.sidenav .closebtn {
display: none;
position: absolute;
right: 10px;
margin-top: 0px;
font-size: 30px;
font: normal 40px 'Cookie', cursive;
}
*/


/*------------ScrollButton Back to top-------------*/

#myBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: rgba(0, 0, 0, .6);
    /* Set a background color */
    color: white;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 15px;
    /* Some padding */
    border-radius: 10px;
    /* Rounded corners */
}

#myBtn:hover {
    background-color: #555;
    /* Add a dark-grey background on hover */
}


/*------------END OF ScrollButton Back to top-------------*/


/*************End of Body CSS*********/


/*-------------------------------------FOOTER--------------------------------*/

.footer-distributed {
    background-color: #40434e;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    font: bold 16px sans-serif;
    text-align: left;
    padding: 50px 60px 40px;
    /*    margin-top: 80px;*/
    overflow: hidden;
    height: auto;
}


/* Footer left */

.footer-distributed .footer-left {
    float: left;
    padding-left: 15px;
}


/* My name Big (company logo) */

.footer-distributed h3 {
    color: #fffffa;
    /*    font-family: 'Fira Sans', sans-serif;*/
    font-size: 40px;
    font: normal 36px 'fira sanss', cursive;
    margin: 0 0 10px;
}

#lastFoot h3 {
    font-size: 30px;
}

.footer-distributed h3 span {
    color: black;
}


/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 0 0 10px;
    padding: 0;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    font-size: 15px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 200;
}

.footer-distributed .footer-links a:hover {
    display: inline-block;
    line-height: 1.8;
    text-decoration: underline;
    color: inherit;
    font-size: 15px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 200;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}


/* Footer social icons */

.footer-distributed .footer-icons {
    margin-top: 20px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    /*    background-color:#912f40;*/
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
    font-size: 25px;
    text-decoration: none;
}

#follow {
    color: #fffffa;
}


/* Footer contact form */

.footer-distributed .footer-right {
    float: right;
    padding-left: 15px;
    /*        padding-right: 40px;*/
}

.footer-distributed .footer-right p {
    display: inline-block;
    vertical-align: top;
    margin: 15px 42px 0 0;
    color: #ffffff;
}


/* The contact form */

.footer-distributed form {
    display: inline-block;
}

.footer-distributed form input,
.footer-distributed form textarea {
    display: block;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: #1f2022;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: none;
    resize: none;
    font: inherit;
    font-size: 14px;
    font-weight: normal;
    color: #d1d2d2;
    width: 400px;
    padding: 18px;
}

.footer-distributed ::-webkit-input-placeholder {
    color: #5c666b;
}

.footer-distributed ::-moz-placeholder {
    color: #5c666b;
    opacity: 1;
}

.footer-distributed :-ms-input-placeholder {
    color: #5c666b;
}

.footer-distributed form input {
    height: 55px;
    margin-bottom: 15px;
    margin-left: 5px;
    width: 300px;
}

.footer-distributed form textarea {
    height: 100px;
    margin-bottom: 15px;
    margin-left: 5px;
    width: 300px;
}

.footer-distributed form button {
    border-radius: 3px;
    background-color: #33383b;
    color: #ffffff;
    border: 0;
    padding: 15px 50px;
    font-weight: bold;
    float: center;
    width: auto;
}

#belowFooter {
    width: 100%;
    height: 100%;
    color: #fffffa;
    text-align: center;
    background-color: black;
    padding-top: 10px;
    line-height: normal;
    font-family: 'Fira Sans', sans-serif;
    font-size: 10px;
}


/*End of Footer CSS*/


/*-----------Media Queries for different Screen Sizes--------*/

@media only screen and (max-width: 1600px) {
    .navbar-brand {
        color: #912f40;
        float: left;
        padding-left: .9em;
        padding-top: 1.8em;
    }
    header {
        background: #101010;
        max-width: 100%;
        max-height: auto;
        height: 350px;
        width: auto;
        overflow-x: hidden;
        position: static;
        background-image: url(../images/ROBOTImages/RightView.JPG);
        Background-color: rgb(16, 16, 16);
        background-size: 100%, auto;
        background-repeat: no-repeat;
        background-position: 0, 0, -20px, 0;
        margin-top: 5%;
    }
    #headerText {
        object-position: center;
        margin-top: 10em;
        margin-left: 30px;
        margin-right: 30px;
        /*        background-color: rgba(0, 0, 0, .4);*/
    }
    #headerText h2 {
        color: aliceblue;
        font-size: 40px;
    }
    #headerText p {
        color: aliceblue;
        font-size: 50px;
    }
    #aboutImage {
        width: 100%;
    }
    #about p {
        font-size: 18px;
    }
    #rams {
        display: inline-block;
        max-width: 600px;
        /*        max-height: 600px;*/
    }
}

@media only screen and (max-width: 768px) {
    .navbar-brand-logo>img {
        display: block;
        float: left;
        height: auto;
        margin-right: 0em;
        padding-top: 15px;
        width: 35px;
    }
    .navbar-brand {
        color: #702632;
        float: left;
        padding-left: .9em;
        padding-top: 1.3em;
    }
    .navbar-brand span {
        color: #fffffa;
        font: normal 1px 'Cookie', cursive;
        font-size: 20px;
        font-family: 'Fira Sans', sans-serif;
        font-weight: 100;
    }
    .navbar-brand span:hover {
        color: #fffffa;
        font: normal 1px 'Cookie', cursive;
        font-size: 20px;
        font-family: 'Fira Sans', sans-serif;
        font-weight: 200;
    }
    /* Navigation bar at the top*/
    .navbar-fixed-bottom,
    .navbar-fixed-top {
        height: 50px;
    }
    .myBox {
        border: none;
        padding: 2px;
        font: 24px/36px sans-serif;
        width: 100%;
        height: 350px;
        overflow: scroll;
        /*    background-color: grey;*/
    }
    #rams {
        display: inline-block;
        max-width: 500px;
        /*        max-height: 600px;*/
    }
}

@media only screen and (max-width: 600px) {
    .navbar-brand-logo>img {
        /*    display: block;*/
        float: left;
        /*    height: auto;*/
        margin-right: 0em;
        padding-top: 15px;
        width: 35px;
    }
    .navbar-brand {
        color: #702632;
        float: left;
        padding-left: .1em;
        padding-top: 1.4em;
    }
    /*Takes margins off for main content divs for smaller screeens*/
    .MainContent {
        margin: 0;
    }
    .MainContentAboutTop {
        margin: 0;
    }
    .MainContentAboutMiddle {
        margin: 0;
    }
    .MainContentAboutBottom {
        margin: 0;
    }
    .MainContentDataFormat {
        margin: 0;
        margin-bottom: 10%;
    }
    .MainContentImplementation {
        margin: 0;
    }
    .MainContentProjects {
        margin: 0;
    }
    .MainContentResults {
        margin: 0;
    }
    .MainContentFooter {
        margin: 0;
    }
    .second .jm-item-wrapper:hover .jm-item-title {
        left: -100%;
        display: block;
    }
    #headerText {
        object-position: center;
        margin-top: 8em;
    }
    .documentNav {
        padding-left: 0px;
    }
    .documentNav li a {
        display: inline-block;
        text-decoration: none;
        color: #fffffa;
        font-size: 25px;
        padding: 3px;
        padding-left: 0px;
        /*    text-align: center;*/
    }
    .documentNav li a:hover {
        transition-duration: .5s;
        /* delays for 1 second */
        -webkit-transition-duration: .5s;
        /* for Safari & Chrome */
        background-color: #fffffa;
        color: #40434e;
        border: 3px solid #fffffa;
        cursor: pointer;
        text-decoration: none;
    }
    .myMedBox {
        border: none;
        padding: 2px;
        font: 24px/36px sans-serif;
        width: 100%;
        height: 150px;
        overflow: scroll;
        /*    background-color: blue;*/
    }
    #rams {
        display: inline-block;
        max-width: 500px;
        max-height: auto;
    }
}

@media only screen and (max-width: 480px) {
    .navbar-brand-logo>img {
        /*    display: block;*/
        float: left;
        /*    height: auto;*/
        margin-right: 0em;
        padding-top: 15px;
        width: 35px;
    }
    .navbar-brand {
        color: #702632;
        float: left;
        padding-left: .1em;
        padding-top: 1.4em;
    }
    #headerText {
        object-position: center;
        margin-top: 4em;
        /*        background-color: rgba(0, 0, 0, .4);*/
    }
    #headerText h2 {
        color: aliceblue;
        font-size: 25px;
    }
    header {
        height: 200px;
    }
    .documentNav li a {
        /*        display: inline-block;*/
        text-decoration: none;
        color: #fffffa;
        font-size: 15px;
        padding: 3px;
        /*    text-align: center;*/
    }
    .documentNav li a:hover {
        transition-duration: .5s;
        /* delays for 1 second */
        -webkit-transition-duration: .5s;
        /* for Safari & Chrome */
        background-color: #fffffa;
        color: #40434e;
        border: 3px solid #fffffa;
        cursor: pointer;
        text-decoration: none;
    }
    #habs {
        display: inline-block;
        max-width: 300px;
    }
    #rams {
        display: inline-block;
        max-width: 300px;
        /*        max-height: 600px;*/
    }
    #display {
        display: inline-block;
        max-width: 300px;
        max-height: 600px;
    }
    #stern {
        display: inline-block;
        max-width: 300px;
        content: center;
        /*    float: right;*/
    }
    #team img {
        /*        display: inline-block;*/
        max-width: 200px;
        /*        content: center;*/
    }
    #horan img {
        max-width: 200px;
    }
    .MainContentBottomPage {
        margin: 0;
        /*        margin-left: -20px;*/
        border: 0;
    }
    .MainContentBottomPage img {
        margin: 0;
        /*        margin-left: px;*/
        border: 0;
    }
}

@media only screen and (max-width: 320px) {
    #name {
        display: none;
        padding-top: 20px;
    }
    .navbar-brand-logo>img {
        width: 30px;
    }
    button span {
        background-color: #fffffa;
        margin-top: auto;
    }
    #headerText {
        object-position: center;
        margin-top: 6em;
        /*        background-color: rgba(0, 0, 0, .4);*/
    }
    #headerText h2 {
        color: aliceblue;
        font-size: 20px;
    }
    .sidenav {
        margin-top: 0%;
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, .9);
        /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(left, rgba(0, 0, 0, .9), rgba(0, 0, 0, 0));
        /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(right, rgba(0, 0, 0, .9), rgba(0, 0, 0, 0));
        /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(right, rgba(0, 0, 0, .9), rgba(0, 0, 0, 0));
        /* For Firefox 3.6 to 15 */
        /*    background: linear-gradient(red, yellow);*/
        background: linear-gradient(to right, rgba(0, 0, 0, .9), rgba(0, 0, 0, 0));
        /* Standard syntax (must be last) */
        border: none;
        overflow-x: hidden;
        -webkit-transition: 0.2s;
        transition: 0.2s;
        padding-top: 40px;
    }
    .sidenav .list-unstyled {
        float: right;
        line-height: 30px;
    }
    .sidenav a {
        padding: 8px 8px 8px 70px;
        text-decoration: none;
        font-size: 20px;
        color: #fffffa;
        display: block;
        -webkit-transition: 0.3s;
        transition: 0.3s;
        font-family: 'Fira Sans Extra Condensed', sans-serif;
        font-weight: 100;
        line-height: 15px;
        float: right;
    }
    header {
        height: 200px;
    }
    body {
        background-color: #101010;
    }
    .documentNav {
        display: inline-block;
        /*    content: center;*/
        width: 100%;
        margin: 5px;
        padding: 0;
        text-align: center;
    }
    .documentNav li a {
        display: inline-block;
        text-decoration: none;
        color: #fffffa;
        font-size: 13px;
        padding: 0px;
        /*    text-align: center;*/
    }
    .documentNav li a:hover {
        transition-duration: .5s;
        /* delays for 1 second */
        -webkit-transition-duration: .5s;
        /* for Safari & Chrome */
        background-color: #fffffa;
        color: #40434e;
        border: 3px solid #fffffa;
        cursor: pointer;
        text-decoration: none;
    }
    #habs {
        display: inline-block;
        max-width: 250px;
    }
    #rams {
        display: inline-block;
        max-width: 250px;
        max-height: 600px;
    }
    #display {
        display: inline-block;
        max-width: 250px;
        max-height: 600px;
    }
    #stern {
        display: inline-block;
        max-width: 250px;
        content: center;
        /*    float: right;*/
    }
    #team img {
        /*        display: inline-block;*/
        max-width: 200px;
        /*        content: center;*/
    }
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
    .sidenav a {
        padding: 8px 8px 8px 60px;
        text-decoration: none;
        font-size: 18px;
        color: #fffffa;
        display: block;
        -webkit-transition: 0.3s;
        transition: 0.3s;
        font-family: 'Fira Sans Extra Condensed', sans-serif;
        font-weight: 100;
        line-height: 15px;
        float: right;
    }
    header {
        height: 200px;
        background-color: rgb(16, 16, 16);
    }
    #headerText {
        object-position: center;
        margin-top: 4em;
    }
}

@media only screen and (max-height: 376px) {
    .navbar-brand {
        color: #702632;
        float: left;
        padding-left: 0.3em;
        padding-top: 1.4em;
    }
    .sidenav .list-unstyled {
        float: center;
        line-height: 20px;
    }
    .sidenav a {
        padding: 8px 8px 8px 30px;
        text-decoration: none;
        font-size: 15px;
        color: #fffffa;
        display: block;
        -webkit-transition: 0.3s;
        transition: 0.3s;
        font-family: 'Fira Sans Extra Condensed', sans-serif;
        font-weight: 100;
        line-height: 10px;
        float: center;
    }
    header {
        height: 150px;
        background-color: rgb(16, 16, 16);
    }
    #headerText {
        object-position: center;
        margin-top: 5em;
    }
    #headerText h2 {
        color: aliceblue;
        font-size: 20px;
    }
    #headerText p {
        color: aliceblue;
        font-size: 15px;
    }
}


/*Footer Media Queries*/

@media (max-width: 1000px) {
    .footer-distributed {
        font-size: 12px;
        font-family: 'Fira Sans', sans-serif;
        height: auto;
    }
    .footer-distributed .footer-company-name {
        font-size: 12px;
    }
}

@media (max-width: 769px) {
    .footer-distributed {
        padding: 30px;
        height: auto;
    }
    .footer-distributed .footer-left,
    .footer-distributed .footer-right {
        float: none;
        max-width: 300px;
        margin: 0 auto;
        align-content: center;
    }
    .footer-distributed .footer-left {
        margin-bottom: 40px;
    }
    .footer-distributed form {
        margin-top: 10px;
    }
    .footer-distributed form button {
        float: center;
    }
    #middleFoot {
        /*        display: none;*/
    }
}


/*End of Media Query CSS*/
