/*----------Header---------------*/


/*used for javaScript to
Hide NavBar up in scrolling up*/

.nav-up {
    top: -70px;
}

.navbar-header {
    margin-top: 5px;
}

.navbar-left {
    /*    width: 7em;*/
}

.navbar-brand-logo>img {
    /*    display: block;*/
    float: left;
    /*    height: auto;*/
    /*    margin-right: -10px;*/
    padding-top: 15px;
    width: 50px;
}

.navbar-brand {
    color: #702632;
    float: left;
    padding-left: 1em;
    padding-top: 1.8em;
}

.navbar-brand span {
    color: #912f40;
    font: normal 1px 'Cookie', cursive;
    font-size: 25px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 100;
}

.navbar-brand span:hover {
    color: #fffffa;
    font: normal 1px 'Cookie', cursive;
    font-size: 25px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 200;
}

#myNavbar a {
    color: #fffffa;
    font-size: 15px;
    font-family: 'Fira Sans', sans-serif;
    margin-top: 11px;
    font-weight: 200;
}

#myNavbar a:hover {
    color: #702632;
    background: transparent;
    font-size: 20px;
}

a#envelopeL {
    color: #fffffa;
    font-size: 40px;
    font-family: 'Fira Sans', sans-serif;
    margin-top: 1px;
    font-weight: 200;
}

a#envelopeL:hover {
    color: #702632;
    font-size: 40px;
    font-family: 'Fira Sans', sans-serif;
    margin-top: 1px;
    font-weight: 200;
}

.sidebar-nav :active,
.sidebar-nav :focus {
    text-decoration: none
}

.navbar-fixed-bottom,
.navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    background-color: rgba(0, 0, 0, .5);
    height: 60px;
    position: fixed;
    transition: top 0.1s ease-in-out;
    width: 100%;
}

button span {
    background-color: #fffffa;
    margin-top: 10px;
}

button:hover {
    cursor: pointer;
}

.overlay {
    background: rgba(0, 0, 0, .6);
    overflow: hidden;
    height: 100%;
    z-index: 2;
}

header {
    width: 100%;
    height: 1000px;
    background: #101010;
    overflow-x: hidden;
    position: relative;
    background: url(../images/desk_compu_long2.png) no-repeat;
    background-size: 100%, auto;
    background-position: center;
}

#headerText {
    object-position: center;
    margin-top: 20%;
}

#headerText h2,
h3 {
    color: aliceblue;
    font-size: 20px;
}

#headerText p {
    color: aliceblue;
    font-size: 25px;
    margin-bottom: 10%;
    background: url(../images/computer_lg.png);
    background-size: auto;

}


/*---------------BODY-------------*/

body {
    background-color: #111;
    /*    font-size: 15px;*/
    /*    font-family:'Fira Sans', sans-serif;*/
    margin-top: 0px;
    margin-top: 11px;
    font-weight: 200;
}


/*my pallete*/

{
    color: #40434e;
    color: #702632;
    color: #912f40;
    color: #fffffa;
    color: #912f40;
}

#about {
    background-color: #fffffa;
    color: #080705;
    font-size: 12px;
    font-style: normal;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 200;
}

#about p {
    background-color: #fffffa;
    color: #080705;
    font-size: 12px;
    font-style: normal;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 200;
    margin-left: 10%;
    margin-right: 10%;
}

#skills {
    background-color: #40434e;
    color: #fffffa;
    font-size: 12px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 200;
}

#faq {
    background-color: #111;
    color: #fffffa;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 200;
}

#porfolio {
    background-color: black;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 200;
}


/*Side Navigation*/

.sidenav {
    margin-top: 0%;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .7);
    overflow-x: hidden;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    padding-top: 10px;
}

.sidenav .list-unstyled {
    float: right;
    line-height: 30px;
}

.sidenav a {
    padding: 8px 8px 8px 60px;
    text-decoration: none;
    font-size: 25px;
    color: #fffffa;
    display: block;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-weight: 100;
    line-height: inherit;
    float: right;
}

.sidenav a:hover,
.offcanvas a:focus {
    color: #f1f1f1;
    cursor: pointer;
}


/*This can be added*/


/*
.sidenav .closebtn {
display: none;
position: absolute;
right: 10px;
margin-top: 0px;
font-size: 30px;
font: normal 40px 'Cookie', cursive;
}
*/


/*************End of Body CSS*********/


/*---------FOOTER-----------------*/

.footer-distributed {
    background-color: #080705;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    font: bold 16px sans-serif;
    text-align: left;
    padding: 50px 60px 40px;
    /*    margin-top: 80px;*/
    overflow: hidden;
    height: auto;
}


/* Footer left */

.footer-distributed .footer-left {
    float: left;
    padding-left: 15px;
}


/* My name Big (company logo) */

.footer-distributed h3 {
    color: #fffffa;
    font: normal 36px 'Cookie', cursive;
    margin: 0 0 10px;
}

.footer-distributed h3 span {
    color: #912f40;
}


/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 0 0 10px;
    padding: 0;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 200;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}


/* Footer social icons */

.footer-distributed .footer-icons {
    margin-top: 40px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}


/* Footer contact form */

.footer-distributed .footer-right {
    float: right;
    padding-left: 15px;
    /*        padding-right: 40px;*/
}

.footer-distributed .footer-right p {
    display: inline-block;
    vertical-align: top;
    margin: 15px 42px 0 0;
    color: #ffffff;
}


/* The contact form */

.footer-distributed form {
    display: inline-block;
}

.footer-distributed form input,
.footer-distributed form textarea {
    display: block;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: #1f2022;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: none;
    resize: none;
    font: inherit;
    font-size: 14px;
    font-weight: normal;
    color: #d1d2d2;
    width: 400px;
    padding: 18px;
}

.footer-distributed ::-webkit-input-placeholder {
    color: #5c666b;
}

.footer-distributed ::-moz-placeholder {
    color: #5c666b;
    opacity: 1;
}

.footer-distributed :-ms-input-placeholder {
    color: #5c666b;
}

.footer-distributed form input {
    height: 55px;
    margin-bottom: 15px;
    margin-left: 5px;
    width: 300px;
}

.footer-distributed form textarea {
    height: 100px;
    margin-bottom: 15px;
    margin-left: 5px;
    width: 300px;
}

.footer-distributed form button {
    border-radius: 3px;
    background-color: #33383b;
    color: #ffffff;
    border: 0;
    padding: 15px 50px;
    font-weight: bold;
    float: center;
    width: auto;
}

#belowFooter {
    width: 100%;
    height: 100%;
    color: #fffffa;
    text-align: center;
    background-color: black;
    padding-top: 10px;
    line-height: normal;
    font-family: 'Fira Sans', sans-serif;
    font-size: 10px;
}


/*End of Footer CSS*/


/*-----------Media Queries for different Screen Sizes--------*/

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
    .sidenav a {
        padding: 8px 8px 8px 60px;
        text-decoration: none;
        font-size: 18px;
        color: #fffffa;
        display: block;
        -webkit-transition: 0.3s;
        transition: 0.3s;
        font-family: 'Fira Sans Extra Condensed', sans-serif;
        font-weight: 100;
        line-height: 15px;
        float: right;
    }
}

@media only screen and (max-width: 1600px) {
    .navbar-brand {
        color: #702632;
        float: left;
        padding-left: .8em;
        padding-top: 1.8em;
    }
    header {
        background: #101010;
        max-width: 100%;
        max-height: auto;
        height: 800px;
        width: auto;
        overflow-x: hidden;
        position: static;
        background: url(../images/desk_compu_short2.png)no-repeat;
        background-size: 130%, auto;
        background-position: center;
    }
}

@media only screen and (max-width: 768px) {
    .navbar-brand {
        color: #702632;
        float: left;
        padding-left: .2em;
        padding-top: 1.8em;
    }
    header {
        background: #101010;
        max-width: 100%;
        max-height: auto;
        height: 500px;
        width: auto;
        overflow-x: hidden;
        position: static;
        background: url(../images/desk_compu_long2.png)no-repeat;
        background-size: 100%, auto;
        background-position: center;
    }
    #headerText {
        object-position: center;
        margin-top: 10em;
    }
}

@media only screen and (max-width: 320px) {
    .navbar-fixed-bottom,
    .navbar-fixed-top {
        position: fixed;
        right: 0;
        left: 0;
        z-index: 1030;
        background-color: rgba(0, 0, 0, .8);
        height: 60px;
        position: fixed;
        transition: top 0.2s ease-in-out;
        width: 100%;
    }
    .navbar-brand span {
        font-size: 20px;
    }
    #name {
        /*        display: none;*/
        padding-top: 20px;
    }
    header {
        width: 100%;
        height: 500px;
        background: #101010;
        overflow-x: hidden;
        position: static;
        background: url(../images/desk_compu_long2.png) no-repeat;
        background-size: 100%, auto;
        background-position: center;
    }
    .navbar-brand-logo>img {
        width: 30px;
    }
    button span {
        background-color: #fffffa;
        margin-top: auto;
    }
    #headerText {
        object-position: center;
        margin-top: 60%;
    }
    .sidenav {
        margin-top: 0%;
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, .8);
        overflow-x: hidden;
        -webkit-transition: 0.2s;
        transition: 0.2s;
        padding-top: 40px;
    }
    .sidenav .list-unstyled {
        float: right;
        line-height: 30px;
    }
    .sidenav a {
        padding: 8px 8px 8px 70px;
        text-decoration: none;
        font-size: 20px;
        color: #fffffa;
        display: block;
        -webkit-transition: 0.3s;
        transition: 0.3s;
        font-family: 'Fira Sans Extra Condensed', sans-serif;
        font-weight: 100;
        line-height: 15px;
        float: right;
        background: url(../images/computer-sm.png) no-repeat;
    }
    body {
        background-color: #101010;
    }
}

@media only screen and (max-height: 376px) {
    .navbar-brand {
        color: #702632;
        float: left;
        padding-left: 0.2em;
        padding-top: 1.8em;
    }
    header {
        background: #101010;
        max-width: 100%;
        max-height: auto;
        overflow-x: hidden;
        height: 414px;
        position: static;
        background: url(../images/desk_compu_long2.png) no-repeat;
        background-size: 100%, auto;
        background-position: center;
    }
    .sidenav .list-unstyled {
        float: right;
        line-height: 20px;
    }
    .sidenav a {
        padding: 8px 8px 8px 70px;
        text-decoration: none;
        font-size: 15px;
        color: #fffffa;
        display: block;
        -webkit-transition: 0.3s;
        transition: 0.3s;
        font-family: 'Fira Sans Extra Condensed', sans-serif;
        font-weight: 100;
        line-height: 10px;
        float: right;
    }
}


/*Footer Media Queries*/

@media (max-width: 1000px) {
    .footer-distributed {
        font-size: 12px;
        font-family: 'Fira Sans', sans-serif;
        height: auto;
    }
    .footer-distributed .footer-company-name {
        font-size: 12px;
    }
}

@media (max-width: 769px) {
    .footer-distributed {
        padding: 30px;
        height: auto;
    }
    .footer-distributed .footer-left,
    .footer-distributed .footer-right {
        float: none;
        max-width: 300px;
        margin: 0 auto;
        align-content: center;
    }
    .footer-distributed .footer-left {
        margin-bottom: 40px;
    }
    .footer-distributed form {
        margin-top: 10px;
    }
    .footer-distributed form button {
        float: center;
    }
    #middleFoot {
        display: none;
    }
}


/*End of Media Query CSS*/
